.btn{
    font-size: 0.8rem;
    background: #f6f6f7;
    padding-left: 0.225rem;
    padding-right: 0.225rem;
    padding-top:0 ;
    padding-bottom: 0;
}

.btn:hover{
    background: #004fff;
    color: #ffffff;
}



.perfil{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.name{
    color: #ababb0;
    font-weight: 400;

}

.clock{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.text{
    padding-bottom: 0rem;
    padding-top: 6rem;
}

.div{
    max-width: 46rem;
    margin: 0px auto;
    padding-bottom: 1.5rem;
}

.title{
    font-size: 1.71098438rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.03em;
    margin-bottom: 3rem;
}

a{
    color: #000000;
}

.row{
    margin-top: 3rem;
    height: 100%;
    
}

#redes{
    max-height: 300px;
    position: sticky;
    top: 30px;
   
    
}



li{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    list-style: none;
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3); 
}

li:hover{
    box-shadow: 3px 23px 57px 16px rgba(0,0,0,0.2);
}

.icon{
    width: 20px;
    height: 21px;
    margin-top: 10px;
    margin-left: 2px;

}

.texto{
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    white-space: pre-line;
}

@media screen and (min-width: 75rem){
    .title{
        font-size:  calc(.90193rem + 2.24738vw);
         }

    
    
    }
    
    @media screen and (min-width: 1200px){
   
         .title{
        
            font-size: 2.587464rem;
            /* font-size: calc(.90193rem + 2.24738vw); */
       
        }
    
    }

    @media (max-width: 859px){
        #redes{
            display: none;
        }
    }

    @media (max-width: 500px){
        .container{
            padding-left: 0;
            padding-right:5px;
        }
    }