<!-- empieza imagen principal de trend -->

<div class="tarjeta">
  <a routerLink="/inversion/post">
      <div class="card mt-3 mb-3  mb-md-0">
        <div class="row">
          <div class="col-md-5 ">
            <div class="imagen sobreponer">
            <img
              src="https://assets.eleconomista.com.mx/__export/1605403891778/sites/eleconomista/img/2020/11/11/inversion-ahorro-shutterstock.jpg_2118499843.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          </div>
          <div class="col-md-7 texto">
            <h5 class="card-title">
              Remote Work Has Arrived: The History, Best Practices, Tips, Dos, and Don’ts
            </h5>
            <p class="card-text mb-5">Omnichannel marketing has been a buzzword for some time now, and for good reason. Rather than putting all your eggs in one basket and concentrating solely on, say, email campaigns, omnichannel marketing uses multiple channels to provide your customers with an immersive,... <span>continuar leyendo</span></p>
            <div class="imagenes mt-5">
            <p class="name">
              <img class="perfil" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""> Jon Tucker  
              <img class="clock" src="https://www.livechat.com/success/icons/time-to-read.b19f23fb38fc3a0447471f0910ac51fc917cd65a8ed1f267ee7ff61be6a07f84.svg" alt=""> 12 minutes 
              <img class="clock" src="https://www.livechat.com/success/icons/calendar.svg" alt="">Oct 20, 2020
            </p> 
          </div> 
          </div>
        </div>
      </div>
    </a>
  </div>

  <app-articles-trend></app-articles-trend>

  

<app-subscribe></app-subscribe>