<!-- empieza imagen principal de trend -->

<div class="tarjeta" *ngFor="let articulo of articulos; let i = index;  last as isLast">
  <a *ngIf="isLast" routerLink="/inversion/post">
      <div class="card mt-3 mb-3  mb-md-0">
        <div class="row">
          <div class="col-md-5 ">
            <div class="imagen sobreponer">
            <img
              src="{{photoPost}}{{articulo.foto}}"
              class="img-fluid"
              alt=""
            />
          </div>
          </div>
          <div class="col-md-7 texto">
            <h5 class="card-title">
              {{articulo.titulo}}
            </h5>
            <p class="card-text mb-5">{{articulo.extracto}}... <span>continuar leyendo</span></p>
            <div class="imagenes mt-5">
              <div class="div row name">
                <div class="col-sm-12 col-md-12 col-lg-5"><img class="perfil" src="{{photoAutor}}{{articulo.perfil}}" alt=""> {{articulo.autor}}</div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-2"><img class="clock" src="assets/clock.svg" alt=""> {{articulo.tiempo}} minutos</div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-2"><img class="clock" src="assets/calendar.svg" alt="">  {{articulo.fecha}}</div>
              </div>
          </div> 
          </div>
        </div>
      </div>
    </a>
  </div>

  <app-articles-trend></app-articles-trend>

  

<app-subscribe></app-subscribe>