<div class="container">
    
    <div class="text col-sm-10" >
        <div class="div">
            <div class="categorie">
                <a  routerLink="/emprender" class="btn mb-4">Emprender</a>
            </div>
            <h1 class="title">El Outsourcing en 2021, gran salvacion o grave error</h1>
            <div class="div row name">
                <div class="col-sm-12 col-md-12 col-lg-5"><img class="perfil" src="assets/autores/Anette1.png" alt=""> <a class="name" routerLink="/autor/anette"> Annette Ruvalcaba</a></div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/clock.svg" alt=""> 12 minutos</div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  Enero 08</div>
            </div>
        </div>
    
    
        <div class="img-principal">
            <img src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/c_fill,f_auto,q_auto,w_1688/https://success-cms.labs.livechatinc.com/app/uploads/2021/01/pexels-pixabay-267669.jpg" class="img-fluid" alt="">
        </div>
    
        <div class="row">
            <div id="redes" class="col-sm-1"> 
                    
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Twitter"><a href="#"><img class="icon" src="assets/twitter2.png" onmouseover="this.src= 'assets/twitter.png';" onmouseout="this.src='assets/twitter2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Facebook"><a href="#"><img class="icon" src="assets/facebook2.png" onmouseover="this.src= 'assets/facebook.png';" onmouseout="this.src='assets/facebook2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Linkedin"><a href="#"><img class="icon" src="assets/instagram2.png" onmouseover="this.src= 'assets/instagram.png';" onmouseout="this.src='assets/instagram2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Redit"><a href="#"><img class="icon" src="assets/redit2.png" onmouseover="this.src= 'assets/redit.png';" onmouseout="this.src='assets/redit2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Copiar Url"><a href="#"><img class="icon" style="width: 25px; height: 25px; margin-top: 8px;" src="assets/share1.png" onmouseover="this.src= 'assets/share.png';" onmouseout="this.src='assets/share1.png';" alt=""></a></li>            
                 
            </div>
    
            <div class="col-sm-11">
                <div class="parrafos">
                    <p class="texto">
                        El controversial tema del “outsourcing” cautiva actualmente la atención de
                        emprendedores de todos los rincones del país. </p>
                        <p class="texto">
                        Se le denomina bajo el término “outsourcing” (también conocido como subcontratación
                        o tercerización de servicios) a las actividades o procesos de una organización cuya
                        realización y administración están a cargo de una empresa externa concepto definido
                        según una publicación de Werther &amp; Davis en 2008 enfocada en la administración de
                        recursos humanos.</p>
                        <p class="texto">
                        Entre los múltiples beneficios del “outsourcing” o la subcontratación encontramos que
                        permite concentrar tu atención en el giro principal de tu empresa, logrando generarte
                        ganancias a mayor velocidad, evitando distracción alguna de tu equipo de trabajo y
                        blindando el presupuesto con el que tienes en mente funcionar.</p>
                        <p class="texto">
                        Esto se cumple delegando funciones operativas a un profesional o una empresa
                        externa; desarticulando tu necesidad de tener un departamento dentro de tu empresa
                        que se dedique a esa gestión lo cual promueve recortar los gastos que supondría
                        mantener ese departamento (sueldos, espacio de trabajo). Favorece tu planeación
                        financiera y aumenta tus márgenes de beneficios económicos. Subcontratar propicia el
                        establecimiento de un precio fijo al pactar la prestación pagadera a cambio de los
                        servicios prestados por parte de la empresa subcontratada, generando una proyección
                        de presupuesto precisa e impulsando la transformación de costos fijos en variables.
                        Varias empresas especializadas en outsourcing subsisten gracias a que cuentan con
                        acceso a tecnología costosa, misma que puede ser necesaria únicamente en selectos
                        momentos de la vida de tu empresa y demasiado costosa como para ser una opción
                        rentable como adquisición.</p>
                        <p class="texto">
                        Lisa y llanamente logras reducir las inversiones en tecnología, tiempo, recursos
                        humanos e infraestructura. Aparenta ser la llave de la puerta al paraíso emprendedor,
                        una gran salvación. Sin embargo es importante proceder con precaución al manejar
                        esta herramienta. El no tener un profundo dominio estratégico legal puede llevarte a
                        incurrir en un grave error.
                        </p>
                       <p class="texto"> <strong> Evita los mitos.</strong></p>
                       <p class="texto">
                        No, no es una forma fácil y segura de “no tener que pagar impuestos”.
                        La defraudación fiscal jamás debe ser una opción para tu empresa. Corres riesgo de
                        sufrir consecuencias catastróficas para tu empresa mucho mas altas en precio que
                        pagar lo correspondiente en materia fiscal. El delito de defraudación fiscal se sanciona
                        fuertemente en México. Como podrás leer, no es conveniente.
                        No, tampoco es una manera viable de despojar a los trabajadores de sus
                        derechos laborales y de seguridad social.
                        A pesar de que cumplir con los mismos genere una carga económica monumental para
                        las pequeñas y medianas empresas mexicanas. No podrás transferir de manera

                        deliberada trabajadores de empresa a empresa con el fin de disminuir derechos
                        laborales. De hecho a quien utiliza el régimen de subcontratación de personal en forma
                        dolosa, se le imponen multas por el equivalente de 250 a 5000 veces la Unidad de
                        Medida y Actualización.</p>
                        <p class="texto">
                        En cuanto a la responsabilidad por los trabajadores.
                        La ley define al patrón como la persona física o moral que utiliza los servicios de uno o
                        varios trabajadores. También especifica que si el trabajador, conforme a lo pactado o a
                        la costumbre, utiliza los servicios de otros trabajadores, el patrón de aquél, lo será
                        también de éstos. En palabras mas amigables, esto significa que los trabajadores que
                        sean subcontratados para prestar servicios en favor de tu empresa podrían llegar a ser
                        tu responsabilidad.</p>
                        <p class="texto">
                        Explicando este punto a detalle nos topamos con el hecho de que existen varios tipos
                        de patrones.</p>
                        <p class="texto">
                        En primer lugar tenemos la figura del “patrón directo” que es aquella persona que
                        contrata y recibe directamente los servicios del trabajador.</p>
                        <p class="texto">
                        En segundo lugar existe la figura del “patrón intermediario”, (empresas que se dedican
                        al “outsourcing”) son empresas establecidas que contratan o intervienen en la
                        contratación de trabajadores para que presten servicios a un patrón y que cuentan con
                        elementos propios suficientes para cumplir obligaciones laborales. Podrías llegar a
                        creer que quien contrata es la única persona responsable por sus trabajadores pero
                        esto no es asi. Actualmente en caso de que una empresa subcontratada no reúna los
                        elementos suficientes para sobrellevar la responsabilidad de proteger al trabajador, esa
                        misma se convierte en solidaria con los patrones beneficiarios directos de las obras o
                        servicios que se gestionen.</p>
                        <p class="texto">
                        Lo cual nos lleva a un tercer tipo de patrón, el “beneficiario”. Este hace honor a su
                        nombre ya que es quién se beneficia de la labor que llevan a cabo trabajadores, siendo
                        que esta figura les paga y contrata a través de un intermediario. Pero recuerda que
                        podrías llegar a ser responsable por las obligaciones que deriven de la LFT
                        concernientes a los trabajadores.</p>
                        <p class="texto"> <strong>
                        Al subcontratar no olvides…</strong></p>
                        <p class="texto">
                        Que el contrato que se celebre entre tu empresa y la empresa subcontratada, deberá
                        constar por escrito.</p>
                        <p class="texto">
                        Que tu empresa al momento de celebrar el contrato a que se refiere el párrafo anterior
                        debe cerciorarse de que la empresa subcontratada cuenta con la documentación y los
                        elementos propios suficientes para cumplir con las obligaciones que deriven de las
                        relaciones con sus trabajadores.</p>
                        <p class="texto">
                        Que tu empresa deberá cerciorarse permanentemente de que la empresa a la que
                        subcontrataste, cumple con las disposiciones aplicables en materia de seguridad, salud
                        y medio ambiente en el trabajo, respecto de los trabajadores de esta última.</p>
                        <p class="texto">
                        Que de ninguna manera se abarque la totalidad de las actividades (iguales o similares)
                        que se desarrollen en el centro de trabajo de tu empresa a través de la empresa
                        subcontratada.</p>
                        <p class="texto">
                        Justificar el carácter especializado del trabajo que se lleve a cabo por la empresa
                        subcontratada.</p>
                        <p class="texto">
                        Finalmente, no involucrar en tareas iguales o similares a las que realizan el resto de los
                        trabajadores a tu servicio a trabajadores de empresas subcontratadas (en términos
                        generales).</p>
                            <p class="texto">
                        Ya conoces las normas, la decisión es tuya.
                    </p>
                </div>
            </div>
    
        </div>
    
        <!-- <app-comentarios></app-comentarios> -->
    
      <app-keep-conversation></app-keep-conversation>
    </div>
</div>
    
    