<div class="team" style="background: white;">


    <div class="back mt-5">
        <p> <img class="volver" src="https://cdn0.iconfinder.com/data/icons/web-seo-and-advertising-media-1/512/218_Arrow_Arrows_Back-512.png" alt=""><a class="backto" routerLink="/autores">Ver todos los autores</a></p>
    </div>
    
    
    <div id="principal">
    <div class="row ">
        <div class="col-12 col-xs-12 col-sm-12 texto2 text-left">
            <div class="card" style="margin-right: -2rem;">
                <!-- <div class=""> -->
                  <div class="row no-gutters">      
                    <div class="col-md-6 col-xl-6">
                      <img class="perfil" src="assets/autores/Judith.png" alt="...">
                      <img class="perfil2" src="assets/autores/Judith-R.png" alt="...">
                    </div>
                <div class="col-md-6 col-xl-6 tarjeta">
                  <div class="card-body">
                    <div class="nombre-autor">
                      <h5 class="card-title nombre2">Judith</h5>
                      <p class="card-text descripcion">Marketing</p>
                     <ul class="contenedor-redes">
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/instagram-white.png" onmouseover="this.src= 'assets/autores/instagram-blue.png';" onmouseout="this.src='assets/autores/instagram-white.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/facebook-white.png" onmouseover="this.src= 'assets/autores/facebook-blue.png';" onmouseout="this.src='assets/autores/facebook-white.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/linkedin-white.png" onmouseover="this.src= 'assets/autores/linkedin-blue.png';" onmouseout="this.src='assets/autores/linkedin-white.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/twitter-white.png" onmouseover="this.src= 'assets/autores/twitter-blue.png';" onmouseout="this.src='assets/autores/twitter-white.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/skype-white.png" onmouseover="this.src= 'assets/autores/skype-blue.png';" onmouseout="this.src='assets/autores/skype-white.png';" alt=""></a></li>
                      </ul>
    
                      <ul class="contenedor-redes2">
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/instagram-black-t.png" onmouseover="this.src= 'assets/autores/instagram-black.png';" onmouseout="this.src='assets/autores/instagram-black-t.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/facebook-black-t.png" onmouseover="this.src= 'assets/autores/facebook-black.png';" onmouseout="this.src='assets/autores/facebook-black-t.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/linkedin-black-t.png" onmouseover="this.src= 'assets/autores/linkedin-black.png';" onmouseout="this.src='assets/autores/linkedin-black-t.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/twitter-black-t.png" onmouseover="this.src= 'assets/autores/twitter-black.png';" onmouseout="this.src='assets/autores/twitter-black-t.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/skype-black-t.png" onmouseover="this.src= 'assets/autores/skype-black.png';" onmouseout="this.src='assets/autores/skype-black-t.png';" alt=""></a></li>
                      </ul>
    
    
                    </div> 
                  </div>            
                </div>
              </div>
    
        </div>
    </div>
    </div>
    
    <div class="row" style="padding-bottom:5rem ;">
        <div class="col-8 col-xs-12 col-sm-12 texto text-left">
            <h1 class="title">Acerca de mi</h1>
            <p class="parrafo">I have the pleasure of being the face of our video section in Success. I’ve been working in marketing and sales for 20 years, and now, I have the chance to share all of my experiences and help you improve yourself and your business. I also host our weekly podcast, Incoming Chat, where I get to talk to amazing entrepreneurs and bring their stories to you.</p>
            <p class="parrafo">I was born in Chile but was lucky enough to grow up professionally traveling the world and working for amazing companies and people.</p>
            <p class="parrafo">For me, marketing starts at the very foundation of a company, and it works only when the human nature of our business is well understood. Only then you can start building up.</p>
    
            <h1 class="title">favorite saying</h1>
            <p class="parrafo">“It’s not about what you say, it’s about how you say it”</p>
    
            
            <h1 class="title">favorite band</h1>
            <p class="parrafo">The Ramones</p>
    
        </div>
    </div>
    </div>
    
    </div>
    
    <div class="team" style="background:#f6f6f7;" >
        <!-- esta es parte de mis articulos -->
        <app-autores-post></app-autores-post>
        <!-- esta es parte del equipo editorial -->
        <!-- <app-autor></app-autor> -->
        </div>
           