
<!-- <script>
  function openBtn(event){
    console.log("boton presionado");
  }
</script> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <a class="navbar-brand" routerLink="/blog"> <img src="assets/Axin_logo_negro.png" width="100" height="auto" alt=""></a>
    <div class="botones" >
    <button id="lupa" class="navbar-toggler" data-toggle="collapse" data-target="#demo" style="border: none;" type="button" >
      <img style="width: 20px; height: 20px;" src="assets/lupa.png" alt="">
    </button>
  
<div id="demo" class="collapse" style="position: fixed;
float: left;
z-index: 1030;
margin-right: 2rem;
width: 100%;">
    <input class="buscar" type="text" name="" id="" placeholder="Buscar artículo, ebook o webinar" style="width: 80%;
    padding-right: 2rem;
    left: 16px;
    z-index: 1030;
    border: none;
    position: relative;
    float: left;
    margin-right: 15rem;
    margin-left: -12rem;
    padding-left: 1rem;"> 
</div>
    <button style="border: none; font-size: .875rem; color: black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> MENÚ
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-center">
        
        <a class="nav-link active" routerLink="/inversión">Inversión</a>
        <a class="nav-link active" routerLink="/finanzas">Finanzas</a>
        <a class="nav-link active" routerLink="/emprender">Emprender</a>        
        <a class="nav-link active" [routerLink]="['/mercados']">Mercados</a>
        <a class="nav-link active" routerLink="/cripto">Cripto</a>
        
        <div class="formulario">
          <form class="form">
            <h4 class="mb-4">Únete a la comunidad</h4>
            <div class="form-group">
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Correo electrónico">
              </div>           
           
            <button type="submit" class="btn">Suscríbete</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
