<div class="team">
  <div class="header">
    <h2 class="title">Conoce a nuestro <span>equipo editorial</span></h2>
  </div>

  <div class="tarjetas">
    <div class="card-deck row justify-content-center">
      <div class="card">
        <a routerLink="/autor/judith">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Judith2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Judith Medina</h5>
            <p class="card-text">
              Soy Judith Medina desde siempre tuve gusto por el mundo bursátil.
              Estudie Administración...
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a routerLink="/autor/maria">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Maria2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Lupita Aguilera</h5>
            <p class="card-text">
              Soy Lupita estudié la Licenciatura en Administración con
              especialización en Turismo en el IEST-Anahuac...
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a routerLink="/autor/rodrigo">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Rodrigo2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Rodrigo Alfaro</h5>
            <p class="card-text">
              Soy rodrigo alfaro, desde el 2013 me involucré el en mundo de la bolsa, como pasante...
            </p>
          </div>
        </a>
      </div>

    </div>

    <div class="card-deck row justify-content-center">

      <div class="card">
        <a routerLink="/autor/mario">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Mario2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Mario Calixto</h5>
            <p class="card-text">
              Estudié Ciencia Política en la Universidad de las Américas Puebla.
              Llegué al periodismo en 2011 y...
            </p>
          </div>
        </a>
      </div>


      <div class="card">
        <a routerLink="/autor/jose">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Jose2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">José Gallegos</h5>
            <p class="card-text">
              Soy estudiante de contabilidad y finanzas del IEST me gusta hacer
              ejercicio (de preferencia temprano), leer, escribir...
            </p>
          </div>
        </a>
      </div>

      

      <div class="card">
        <a routerLink="/autor/anette">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Anette2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Annette Ruvalcaba</h5>
            <p class="card-text">
              He tenido la oportunidad de convertirme en una experta en el área jurídica gracias a la reconocida Universidad Anáhuac...
            </p>
          </div>
        </a>
      </div>

    </div>

    <div class="card-deck row justify-content-center">
      

      
    </div>

    <div class="header">
      <h2 class="title1">Colaboradores</h2>
    </div>

    <div class="card-deck row justify-content-center">
      <a routerLink="/colaborador/andreanunez">
        <div class="card colaborador">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="assets/autores/Andrean2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Andrea Nuñez</h5>
            <p class="card-text">Contabilidad y Finanzas</p>
          </div>
        </div>
      </a>

      <a routerLink="/colaborador/andreaquirasco">
        <div class="card colaborador">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="assets/autores/Andreaq2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Andrea Quirasco</h5>
            <p class="card-text">Contabilidad y Finanzas</p>
          </div>
        </div>
      </a>

      <a routerLink="/colaborador/gustavo">
        <div class="card colaborador">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="assets/autores/Gustavo2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Gustavo</h5>
            <p class="card-text">Consultor ejecutivo</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
