.team{
    text-align: center;
}

.header{
    margin-bottom: 6rem;
    margin-top: 8rem;
}

.title{
    
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -.035em;
}

.title1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -.035em;
}

.tarjetas{
    /* max-width: 100%; */
    margin: 0px auto;
    text-align: center;
}



.perfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.perfil2{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.card{
    text-align: center;
    padding-top: 1.5rem;
    max-width: 280px;
    border-radius: .5rem;
    margin-bottom: 3rem;  
    /* margin-right: 1rem; */
    border: none;

}

.card-title{
    font-weight: 600;
}

.card:hover img{
    
    overflow: hidden;
    transform: scale(1.1); 
}

.card:hover{
    box-shadow: 3px 23px 57px 16px rgba(0,0,0,0.2);
}

.imagen{
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.imagen img{
    margin: 0px auto;
    transition: 0.3s all ease-in-out; 
}

.imagen2{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.imagen2 img{
    margin: 0px auto;
    transition: 0.3s all ease-in-out; 
}
.colaborador{
    max-width: 250px;
}


/* img:hover { 
    transform: scale(1.1); 
}  */

a{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 75rem){
    .title{
        font-size: calc(.15rem + 2.8236rem);
        
   /*  font-size: calc(1.5rem + 1.44782*(100vw - 36rem)/39); */

    }
}

