<div class="team">
  <div class="header">
    <h2 class="title">Conoce a nuestro <span>equipo editorial</span></h2>
  </div>
  
  <div class="tarjetas">
    
    <div class="card-deck row justify-content-center">
      <div class="card">
        <a routerLink="/autor/nombre">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Maria2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Maria</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a routerLink="/autor/nombre">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Jenny2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Jenny</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a routerLink="/autor/nombre">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Jose2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">José</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="card-deck row justify-content-center">
      <div class="card">
        <a routerLink="/autor/nombre">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Judith2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Judith</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a routerLink="/autor/nombre">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="assets/autores/Mario2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Mario</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      
    </div>

    <div class="header">
      <h2 class="title1">Colaboradores</h2>
    </div>

   
      <div class="card-deck row justify-content-center">
        <div class="card colaborador">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="assets/autores/Mario1.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Mario</h5>
            <p class="card-text">Data analyst</p>
          </div>
        </div>

        <div class="card colaborador">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="assets/autores/Jose1.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">José</h5>
            <p class="card-text">Data analyst</p>
          </div>
        </div>

        <div class="card colaborador">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="assets/autores/Maria1.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Maria</h5>
            <p class="card-text">Marketing</p>
          </div>
        </div>
      </div>
    </div>
  </div>

