<div class="team">
  <div class="header">
    <h2 class="title">Conoce a nuestro <span>equipo editorial</span></h2>
  </div>
  
  <div class="tarjetas">
    
    <div class="card-deck col-12 pl-5">
      <div class="card">
        <a href="#">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_220,h_220,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/06/marcos-bravo2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Marcos Bravo</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="#">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_220,h_220,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/06/erik-totten2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Erick Totten</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="#">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_220,h_220,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/06/kuba-rogalski2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Kuba Rogalsky</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="card-deck col-12 pl-5">
      <div class="card">
        <a href="#">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_220,h_220,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/06/marcos-bravo2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Marcos Bravo</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="#">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_220,h_220,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/06/erik-totten2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Erick Totten</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="#">
          <div class="imagen">
            <img
              class="perfil card-img-top"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_220,h_220,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/06/kuba-rogalski2.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Kuba Rogalsky</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="header">
      <h2 class="title1">Colaboradores</h2>
    </div>

    <div class="tarjet row">
      <div class="card-deck pl-5">
        <div class="card">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_64,h_64,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/03/jacob-firuta.jpg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Jacob Firuta</h5>
            <p class="card-text">Data analyst</p>
          </div>
        </div>
        <div class="card">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_64,h_64,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/03/jacob-firuta.jpg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Jacob Firuta</h5>
            <p class="card-text">Data analyst</p>
          </div>
        </div>
        <div class="card">
          <div class="imagen2">
            <img
              class="card-img-top perfil2"
              src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_64,h_64,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/03/jacob-firuta.jpg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Jacob Firuta</h5>
            <p class="card-text">Data analyst</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
