<div class="title">
    <div class="titulo">
        <h3>Articulos relacionados</h3>
    </div>
</div>


<div class="row">

  <div class="col-11 col-sm-4" *ngFor="let articulo of articulos; let i = index;">
  <div *ngIf="i<=2">
    <div class="card">
      <a routerLink="/post/{{articulo.id}}">
        <div class="sobreponer">
            <a class="btn sobre">{{articulo.categoria}}</a>
            <img src="{{photoPost}}{{articulo.foto}}" class="card-img-top" alt="...">
        </div>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">{{articulo.tiempo}} mins leer | {{articulo.fecha}}  | {{articulo.autor}}</small></p>
      <h5 class="card-title">{{articulo.titulo}}</h5>
      <p class="card-text">{{articulo.extracto}}... <span>continuar leyendo</span></p>
    </div>
  </a>
</div>
  </div>

</div>
