<div class="container">
    
    <div class="text col-sm-10" >
        <div class="div">
            <div class="categorie">
                <a  routerLink="/cripto" class="btn mb-4">Criptomonedas</a>
            </div>
            <h1 class="title">¿Porqué Bitcoin y cómo funciona?</h1>
            <div class="div row name">
                <div class="col-sm-12 col-md-12 col-lg-5"><img class="perfil" src="assets/autores/Gustavo1.png" alt=""> <a class="name" routerLink="/colaborador/gustavo"> Gustavo Navarrete</a></div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/clock.svg" alt=""> 12 minutos</div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  Enero 08</div>
              </div>
            </div>
    
    
        <div class="img-principal">
            <img src="https://www.esic.edu/sites/default/files/rethink/seguridad-de-criptomoneda.jpg" class="img-fluid" alt="">
        </div>
    
        <div class="row">
            <div id="redes" class="col-sm-1"> 
                    
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Twitter"><a href="#"><img class="icon" src="assets/twitter2.png" onmouseover="this.src= 'assets/twitter.png';" onmouseout="this.src='assets/twitter2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Facebook"><a href="#"><img class="icon" src="assets/facebook2.png" onmouseover="this.src= 'assets/facebook.png';" onmouseout="this.src='assets/facebook2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Linkedin"><a href="#"><img class="icon" src="assets/instagram2.png" onmouseover="this.src= 'assets/instagram.png';" onmouseout="this.src='assets/instagram2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Redit"><a href="#"><img class="icon" src="assets/redit2.png" onmouseover="this.src= 'assets/redit.png';" onmouseout="this.src='assets/redit2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Copiar Url"><a href="#"><img class="icon" style="width: 25px; height: 25px; margin-top: 8px;" src="assets/share1.png" onmouseover="this.src= 'assets/share.png';" onmouseout="this.src='assets/share1.png';" alt=""></a></li>            
                 
            </div>
    
            <div class="col-sm-11">
                <div class="parrafos">
                    <p class="texto">
                        ¡Hola! El día de hoy quiero platicarte de la manera más sencilla posible lo básico a
                            entender de Bitcoin y la poderosa idea detrás de su creación, no es necesario que
                            entiendas ahora a profundidad cada concepto o punto, ya llegaremos allá, así que
                            vamos.</p>
                        <p class="texto">
                            Bitcoin (BTC) por definirlo de la manera mas sencilla es una moneda digital, una
                            moneda como los pesos en tu bolsa, como el dólar o cualquier divisa que venga a
                            tu mente de cualquier país, con la diferencia que nunca lo podrás tener de manera
                            física, ya que se basa en tecnología y se utiliza mediante una red llama
                            Blockchain o cadena de bloques.</p>
                        <p class="texto">
                            Bitcoin es una divisa mundial, sin fronteras, no pertenece a ningún gobierno o
                            país, institución financiera o empresa. Con Bitcoin tu tienes la libertad de pagar o
                            recibir pagos de persona a persona (P2P) prácticamente de manera inmediata, sin
                            importar si el emisión y receptor están la misma habitación o en otro país.</p>
                            <p class="texto">Ahora te preguntaras ¿y la seguridad?</p>
                            <p class="texto">Para poder operar con Bitcoin necesitas un cartera o monedero (Wallet) esta esta
                                compuestas por dos llaves:</p>
                            <p class="texto"><strong>La llave privada</strong>, que para darle sentido es como tu cuenta bancaria esta llave
                                contiene tus operación y balance de Bitcoin que poses.</p>
                            <p class="texto"><strong>Llaves públicas</strong>, estas vendrían como tu contraseña para recibir y enviar Bitcoin.</p>
                        <p class="texto">
                            Ahora bien, si no hay bancos o gobiernos que garanticen la confianza en las
                            transacciones, ¿Quién lo hace?</p>
                                              
                       <p class="texto">
                        Esta red llamada Blockchain sobre la cual opera Bitcoin es una red abierta y de
                            libre acceso, dentro de esta red se genera un registro de cada operación realizada
                            con Bitcoin, desde el momento en que se creó el primer Bitcoin hasta la última
                            operación realizada en el momento que lees esto. Dentro de este proceso se
                            realiza la validación de las operaciones y mediante un consenso de todos los
                            computadores conectados a la red se genera un bloque cada 10 minutos con las
                            operaciones realizadas.
                        </p>
                        <p class="texto">
                            Estos bloques están directamente relacionados y es prácticamente imposible
                            realizar una alteración de las operaciones que ya han pasado el consenso, de tal
                            manera se evita el doble gasto y el reverso o modificación de las operaciones.
                            Increíble no crees.</p>
                        <p class="texto">
                            Como te podrás dar cuenta Bitcoin y esta red Blockchain, se diseñaron para
                            descentralizar nuestras finanzas, crear una nueva economía basada en la
                            confianza de las personas y ahora empresas que participan dentro de protocolo de
                            la red, Bitcoin además ya esta regulado, ya que tiene un crecimiento y emisión
                            controlada por el mismo protocolo, de aquí el ultimo punto que quiero platicarte.</p>
                        <p class="texto">
                            Deflación, Solo se emitirán 21 Millones de Bitcoins esta emisión controlada y
                            limitada le permite ser una moneda que no tiene inflación, de tal manera 12 años
                            después de su creación sigue aumentando su precio y es considerada una reserva
                            de valor al igual que el oro y su valor lo gana gracias a la confianza depositada y la
                            libre Oferta y Demanda.</p>
                        <p class="texto"> 
                            <strong>La idea de todo esto es darte libertad, control y Soberanía de tu dinero.</strong>
                        </p>
                        <p class="texto">
                            En el próximo articulo te mostrare algunas alternativas de obtener Bitcoin y otras
                            Criptomonedas.
                        </p>
                        
                        
                </div>
            </div>
    
        </div>
    
        <!-- <app-comentarios></app-comentarios> -->
    
      <app-keep-conversation></app-keep-conversation>
    </div>
</div>
    
    