
<div class="tarjeta">
    <div class="contenido">
    <div class="title text-left">
        <h2>My post</h2>
    </div>

    <a routerLink="/inversion/post">
        <div class="card">
          <div class="row">
            <div class="col-md-5 imagen">
              <img
                src="https://assets.eleconomista.com.mx/__export/1605403891778/sites/eleconomista/img/2020/11/11/inversion-ahorro-shutterstock.jpg_2118499843.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-7 texto">
              <h5 class="card-title">
                Remote Work Has Arrived: The History, Best Practices, Tips, Dos, and Don’ts
              </h5>
              <p class="card-text">2020 was&#8230;quite a year, and after 8 months from the launch of our channel, we wanted to share with you what are the things we loved, hated, and learned throughout one of the weirdest years of this generation. Join Marcos, Kaia, and Ari for a look back to our 2020...
                <span>read more</span>
            </p>
            
                <p class="name"> <img class="clock" src="https://www.livechat.com/success/icons/time-to-read.b19f23fb38fc3a0447471f0910ac51fc917cd65a8ed1f267ee7ff61be6a07f84.svg" alt=""> 12 minutes <img class="clock" src="https://www.livechat.com/success/icons/video.svg" alt="">Oct 20, 2020</p>
                  
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/inversion/post">
        <div class="card">
          <div class="row">
            <div class="col-md-5 imagen">
              <img
                src="https://assets.eleconomista.com.mx/__export/1605403891778/sites/eleconomista/img/2020/11/11/inversion-ahorro-shutterstock.jpg_2118499843.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-7 texto">
              <h5 class="card-title">
                Remote Work Has Arrived: The History, Best Practices, Tips, Dos, and Don’ts
              </h5>
              <p class="card-text">2020 was&#8230;quite a year, and after 8 months from the launch of our channel, we wanted to share with you what are the things we loved, hated, and learned throughout one of the weirdest years of this generation. Join Marcos, Kaia, and Ari for a look back to our 2020...
                <span>read more</span>
            </p>
                <p class="name"> <img class="clock" src="https://www.livechat.com/success/icons/time-to-read.b19f23fb38fc3a0447471f0910ac51fc917cd65a8ed1f267ee7ff61be6a07f84.svg" alt=""> 12 minutes <img class="clock" src="https://www.livechat.com/success/icons/video.svg" alt="">Oct 20, 2020</p>
                  
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/inversion/post">
        <div class="card">
          <div class="row">
            <div class="col-md-5 imagen">
              <img
                src="https://assets.eleconomista.com.mx/__export/1605403891778/sites/eleconomista/img/2020/11/11/inversion-ahorro-shutterstock.jpg_2118499843.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-7 texto">
              <h5 class="card-title">
                Remote Work Has Arrived: The History, Best Practices, Tips, Dos, and Don’ts
              </h5>
              <p class="card-text">2020 was&#8230;quite a year, and after 8 months from the launch of our channel, we wanted to share with you what are the things we loved, hated, and learned throughout one of the weirdest years of this generation. Join Marcos, Kaia, and Ari for a look back to our 2020...
                <span>read more</span>
            </p>
                <p class="name"> <img class="clock" src="https://www.livechat.com/success/icons/time-to-read.b19f23fb38fc3a0447471f0910ac51fc917cd65a8ed1f267ee7ff61be6a07f84.svg" alt=""> 12 minutes <img class="clock" src="https://www.livechat.com/success/icons/video.svg" alt="">Oct 20, 2020</p>
                  
            </div>
          </div>
        </div>
      </a>
    </div>
    </div> 