.tarjeta{
    margin-bottom: 3rem;
    text-align: center;
    
}


.contenido{
    
    
    max-width: 72%;
    justify-content: center;
    
}

@media(min-width:1500px){
    .contenido{
        max-width: 1000px;
    }
}


@media(max-width:880px) {
    .contenido{
        max-width: 100%;
        margin-left: 0%;
    }
}
.title{
    margin-bottom: 4rem;
    
}

.title h2{
    font-weight: 700;
}


/* todos estos estilos son de la tarjeta */



  @media screen and (min-width: 75rem){


.title h2{
    
    font-size: calc(1.71098rem + 0.87648*(100vw - 36rem)/39);

}


}

@media screen and (min-width: 36rem){

.title h2{
    font-size: 2.587464rem;
}

}


