
<div class="tarjeta" >
    <div class="contenido" style="margin: 0 auto;">
    <div class="title text-left">
        <h2>Mis artículos</h2>
    </div>

    <app-card-post style="text-align: left;"></app-card-post>

    <app-card-post-mini style="text-align: left;"></app-card-post-mini>

    <!-- <app-card-post-mini style="text-align: left;"></app-card-post-mini> -->

    <div style="text-align: center; align-items: center;">
         <app-autor></app-autor>
    </div>
   

      
    </div>
</div> 