<div class="container">
    
    <div class="text col-sm-10" >
        <div class="div">
            <div class="categorie">
                <a  routerLink="/cripto" class="btn mb-4">Criptomonedas</a>
            </div>
            <h1 class="title">¿En qué consiste la tecnología blockchain en criptomonedas?</h1>

            <div class="div row name">
                <div class="col-sm-12 col-md-12 col-lg-5"><img class="perfil" src="assets/autores/Judith1.png" alt=""> <a class="name" routerLink="/autor/judith"> Judith Medina</a></div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/clock.svg" alt=""> 12 minutos</div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  Enero 08</div>
              </div>

            
        </div>
    
    
        <div class="img-principal">
            <img src="https://imagenes.elpais.com/resizer/z_eGSQI2LYMyli2Vq2sNdC6rOss=/768x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/OGO3RZFJXFGYFJPN2SYW6HO4BI.jpg" class="img-fluid" alt="">
        </div>
    
        <div class="row">
            <div id="redes" class="col-sm-1"> 
                    
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Twitter"><a href="#"><img class="icon" src="assets/twitter2.png" onmouseover="this.src= 'assets/twitter.png';" onmouseout="this.src='assets/twitter2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Facebook"><a href="#"><img class="icon" src="assets/facebook2.png" onmouseover="this.src= 'assets/facebook.png';" onmouseout="this.src='assets/facebook2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Linkedin"><a href="#"><img class="icon" src="assets/instagram2.png" onmouseover="this.src= 'assets/instagram.png';" onmouseout="this.src='assets/instagram2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Redit"><a href="#"><img class="icon" src="assets/redit2.png" onmouseover="this.src= 'assets/redit.png';" onmouseout="this.src='assets/redit2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Copiar Url"><a href="#"><img class="icon" style="width: 25px; height: 25px; margin-top: 8px;" src="assets/share1.png" onmouseover="this.src= 'assets/share.png';" onmouseout="this.src='assets/share1.png';" alt=""></a></li>            
                 
            </div>
    
            <div class="col-sm-11">
                <div class="parrafos">
                    <p class="texto">
                        En el ámbito de las criptomonedas, la cadena de bloques o Blockchain representa la vía
                        mediante la cual se llevan a cabo las transacciones de estas monedas digitales. Este nuevo
                        sistema de transferencia de bienes electrónicos trae consigo una revolución increíble no
                        sólo en el sector financiero, sino que abarca muchos otros también. Es un tema bastante
                        interesante que cada vez va atrayendo más la atención de las personas y las grandes
                        empresas.</p>
                        <p class="texto">
                            Entender de forma general la función de la cadena de bloques en las transacciones de
                            criptomonedas no es algo demasiado complicado. En pocas palabras, esta sirve de libro
                            contable para que cualquier persona pueda revisar en tiempo real cada una de las
                            operaciones que se estén llevando a cabo. Además, todos los usuarios de esta cadena
                            comparten la misma información por lo que la transparencia siempre está presente.</p>
                        <p class="texto">
                            Si hacemos la analogía con un sistema bancario convencional, estos al momento de realizar
                            una transferencia de dinero, lo que en realidad emiten es una solicitud para que el banco
                            reste dinero de tu cuenta y la sume a otra. Luego, toman un tiempo estimado para procesar
                            dicha transacción y se quedan con una pequeña comisión por ejercer de intermediario.
                            Además, ninguno de los clientes del banco está en el derecho de poder mirar quien le
                            transfiere dinero a quien.</p>
                        <p class="texto">
                            Por otra parte, la cadena de bloques permite que los usuarios de criptomonedas puedan
                            transferir dinero de forma totalmente anónima y descentralizada. Claro que también se
                            quedan con una pequeña comisión, la cual va destinada a los usuarios que hacen posible
                            que la cadena siga funcionando. Pero, es mucho más ventajoso puesto que las operaciones                            
                            son mucho más rápidas y seguras, además de que no es necesario que suministres tus datos
                            personales.</p>
                        <p class="texto">
                        <strong>¿Qué es la blockchain?</strong>
                        </p>
                       
                       <p class="texto">
                        Antes de seguir hablando sobre este tema es importante que expliquemos con lujo de
                            detalle sobre qué trata la cadena de bloques. La blockchain es un sistema capaz de soportar
                            muchísimas transacciones al mismo tiempo, estas son totalmente seguras y transparentes.
                            Está compuesta por nodos, los cuales solo pueden ser actualizados mediante la autorización
                            de la mayoría de usuarios de la plataforma.
                        </p>
                        <p class="texto">
                            Los nodos o bloques son en realidad equipos como ordenadores que los usuarios de la red
                            ponen a disposición de la cadena para que esta continúe funcionando. La información de
                            cada uno de estos bloques no se puede modificar ni eliminar, para que así se pueda
                            garantizar que la cadena es totalmente segura e inalterable.</p>
                        <p class="texto">
                            Este sistema fue creado con la idea de que se acabe con la hegemonía que tienen los
                            intermediarios o las grandes entidades bancarias sobre los usuarios. Claro está que muchas
                            personas aún prefieren utilizar los bancos, puesto que estos les generan más confianza y les
                            cuesta adaptarse a las nuevas tendencias. Incluso, muchos usuarios de criptomonedas aún
                            utilizan los sistemas bancarios cuando se trata de grandes transacciones de dinero.</p>
                        <p class="texto">
                            Para romper con este estigma es importante que las personas se adapten a las nuevas y
                            mejores tecnologías, de esta forma se podría consolidar el uso de la blockchain como único
                            sistema financiero. Además, está demostrado que muchas entidades bancarios toman los
                            datos de los usuarios y los venden a las grandes compañías para que estos puedan gestionar
                            sus campañas de marketing y adaptarlas de mejor forma. Cosa que es imposible de hacer
                            con la cadena de bloques, gracias a su característica de anonimato total.</p>
                        <p class="texto"> 
                            <strong>¿De qué forma funciona la blockchain?</strong>
                        </p>
                        <p class="texto">
                            Es muy importante que antes de adentrarnos en el mundo de las criptomonedas conozcamos
                            de qué forma funciona la blockchain. Este procedimiento incluye a una gran cantidad de
                            usuarios para que pueda ser llevado a cabo, no es una única entidad la que tiene el control
                            de certificar las operaciones, sino un grupo muy grande.
                        </p>
                        <p class="texto">
                            Cuando una persona decide realizar una transacción a otra se crea un nuevo bloque o nodo
                            dentro de la cadena. Este le transmite información referente a la operación a cada uno de
                            los otros nodos que ya existen en la cadena, luego estos validan que puede realizarse la
                            transacción. Una vez culminado este proceso es cuando de forma definitiva se anexa ese
                            nuevo bloque, este no podrá ser removido y cualquier usuario podrá tener acceso a él.
                        </p>
                        
                        <p class="texto">
                            ¿Por qué se le pide al resto de nodos que validen el nuevo bloque? Porque la cadena
                            necesita confirmar si el usuario que solicita la transacción cuenta con la cantidad de
                            criptomonedas suficiente. En caso de que la respuesta sea afirmativa se confirma el nuevo
                            nodo y este continuará almacenando información referente a transacciones hasta que ya no
                            quepa más.
                        </p>
                        <p class="texto">
                            Puesto que existen diferentes variaciones de la cadena de bloques, la capacidad del nodo
                            puede variar dependiendo del tipo de cadena. Al momento de llegar al tope de espacio este
                            nodo pasa a ser validado. El proceso de validación se realiza gracias a los mineros, los
                            cuales cuentan con equipos muy potentes que resuelven complejos problemas matemáticos
                            o cálculos y generan cada vez más criptomonedas.
                        </p>
                        <p class="texto">
                            Al igual que pasa con muchas plataformas en línea o incluso productos que utilizamos a
                            diario, no tenemos que conocer a detalle como estos funcionan para poder usarlos. Con la
                            cadena de bloques pasa algo parecido ya que no es estrictamente necesario que conozcamos
                            su funcionamiento para llevar a cabo transacciones mediante este sistema. De hecho, el
                            principal objetivo de esta cadena es que cualquier persona pueda realizar operaciones a
                            través de ella y así poder independizarse de los monopolios financieros actuales.
                        </p>
                        <p class="texto">
                            En conclusión, la blockchain es un sistema financiero que llegó para quedarse y cada vez
                            son más las personas y empresas que la utilizan a diario para realizar sus transacciones
                            comerciales. Esta ofrece ventajas que jamás habíamos visto en ningún otro sistema de este
                            tipo, anímate a seguir investigando y a adquirir tus propias criptomonedas hoy mismo.
                        </p>
                        
                </div>
            </div>
    
        </div>
    
        <!-- <app-comentarios></app-comentarios> -->
    
      <app-keep-conversation></app-keep-conversation>
    </div>
</div>
    
    