<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a routerLink="/post">
    
    <div class="card mb-5 mb-md-5">
      <div class="imagen sobreponer">
        <a class="btn sobre">Finanzas</a>
        <img src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/c_fill,f_auto,q_auto,w_1688/https://success-cms.labs.livechatinc.com/app/uploads/2021/01/predict-cart-abandons-scaled-e1610117080835.jpg" class="card-img-top img-fluid" alt="...">
      </div>
        <div class="card-body">
            <p class="card-text"><small class="text-muted">12 min read | Jan 08 |</small></p>
            <p class="name"><img class="perfil img-fluid" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""> Jon Tucker</p>
          
          <h5 class="card-title">How To Predict Cart Abandons and Save Them With Live Chat</h5>
          <p class="card-text">Cart and checkout abandons are the biggest cause of lost revenue for any ecommerce store. Depending on your industry and the time period you review, you’ll see an average... <span>continuar leyendo</span> </p>
         
        </div>
      </div>
         
        </a>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a routerLink="/post">
    
    <div class="card mb-auto mb-md-5">
      <div class="imagen sobreponer">
        <a class="btn sobre">Finanzas</a>
        <img src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/c_fill,f_auto,q_auto,w_1688/https://success-cms.labs.livechatinc.com/app/uploads/2021/01/predict-cart-abandons-scaled-e1610117080835.jpg" class="card-img-top img-fluid" alt="...">
      </div>
        <div class="card-body">
            <p class="card-text"><small class="text-muted">12 min read | Jan 08 |</small></p>
            <p class="name"><img class="perfil img-fluid" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""> Jon Tucker</p>
          
          <h5 class="card-title">How To Predict Cart Abandons and Save Them With Live Chat</h5>
          <p class="card-text">Cart and checkout abandons are the biggest cause of lost revenue for any ecommerce store. Depending on your industry and the time period you review, you’ll see an average... <span>continuar leyendo</span> </p>
         
        </div>
      </div>
         
        </a>
    </div>

</div>