<div id="wrapper" class="mr-2">
  <div class="row">
    <div class="col col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 ">
      <app-sidenav></app-sidenav>
    </div>
    
    <div id="componentes" class="col-lg-10 col-md-11 col-sm-12" >
      <!-- es la pagina principal de blog -->
      <div class="row mt-auto">
        <div class="col-12 ml-1">          
              <app-principal></app-principal>            
        </div>  
      </div>

      
<!-- Button trigger modal -->
<app-modal></app-modal>

<!-- Modal -->

    </div>
  </div>

 <!--  segunda parte del inicio para pintar la parte de como empezar en axin -->

 <div id="empezar" class="row">
  <div class="col col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 ">
   <!-- No quitar esta parte para que no se monte el contenido a la izquierda -->
  </div>
  
  <div id="componentes" class="col-lg-10 col-md-11 col-sm-12" >
    <!-- es la pagina principal de blog -->
    <div class="row mt-auto">
      <div class="col-12 ml-1">          
        
        <div class="row ">
          <div class="col-sm">
            <h2 class="tit-b text-center">¿Como comenzar en Axin?</h2>
            <app-abajo></app-abajo>
          </div>
        </div>       
             
      </div>  
    </div>    
 </div>
</div>

<div class="row ">
  <div class="col col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 ">
   <!-- No quitar esta parte para que no se monte el contenido a la izquierda -->
  </div>
  
  <div id="componentes" class="col-lg-10 col-md-11 col-sm-12" >
    <!-- es la pagina principal de blog -->
    <div class="row mt-auto">
      <div class="col-12 ml-1">          
        
        <div class="row">
          <div class="col-sm">
            <h2 class="tit-b1 text-left">Articulos en tendencia</h2>
            <app-trend></app-trend>
          </div>
        </div>       
             
      </div>  
    </div>    
 </div>
</div>

</div>
