<div class="text">
    <div class="row">
        <div id="texto" class="col-md-8 ">
            <div class="centrar">
                <h2>Crecimiento en dólares</h2>
                <p>Axin en la plataforma ideal para gestionar tu dinero en productos de renta fija  y renta variable.</p>
                <form class="form-inline ">
                   <div class="form-group mx-sm-2 mb-2">
                      <input type="email" class="form-control" id="inputPassword2" placeholder="Correo electrónico">
                    </div>
                    <button type="submit" class="btn mb-2">Quiero empezar</button>
                  </form>
            </div>
        </div>

        <div id="imagen" class="col-md-4 ">
            <div class="tab ml-5">
                <img src="assets/ipad_2.png" alt="">
            </div>           
        </div>
    </div>
</div>