<div class="row ">
    <div class="col-8 col-xs-12 col-sm-12 texto text-left">
        <h1 class="title">Acerca de mi</h1>
        <p class="parrafo">I have the pleasure of being the face of our video section in Success. I’ve been working in marketing and sales for 20 years, and now, I have the chance to share all of my experiences and help you improve yourself and your business. I also host our weekly podcast, Incoming Chat, where I get to talk to amazing entrepreneurs and bring their stories to you.</p>
        <p class="parrafo">I was born in Chile but was lucky enough to grow up professionally traveling the world and working for amazing companies and people.</p>
        <p class="parrafo">For me, marketing starts at the very foundation of a company, and it works only when the human nature of our business is well understood. Only then you can start building up.</p>

        <h1 class="title">favorite saying</h1>
        <p class="parrafo">“It’s not about what you say, it’s about how you say it”</p>

        
        <h1 class="title">favorite band</h1>
        <p class="parrafo">The Ramones</p>

    </div>
</div>
