<div class="container">
    
    <div class="text col-sm-10" *ngFor="let articulo of articulos;">
        <div class="div">
            <div class="categorie" >
                <a routerLink="/finanzas" class="btn mb-4">{{articulo.categoria}}</a> <!-- hacer con ngif para llevarlo a cada categoria -->
            </div>
            <h1 class="title">{{articulo.titulo}}</h1>
            <div class="div row name">
                <div class="col-sm-12 col-md-12 col-lg-5"><img class="perfil" src="{{photoAutor}}{{articulo.perfil}}" alt=""> <a class="name" routerLink="/autor/nombre"> {{articulo.autor}}</a></div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/clock.svg" alt=""> {{articulo.tiempo}} minutos</div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  {{articulo.fecha}}</div>
              </div>
        </div>
    
    
        <div class="img-principal">
            <img src="{{photoPost}}{{articulo.foto}}" class="img-fluid" alt="">
        </div>
    
        <div class="row">
            <div id="redes" class="col-sm-1"> 
                    
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Twitter"><a href="#"><img class="icon" src="assets/twitter2.png" onmouseover="this.src= 'assets/twitter.png';" onmouseout="this.src='assets/twitter2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Facebook"><a href="#"><img class="icon" src="assets/facebook2.png" onmouseover="this.src= 'assets/facebook.png';" onmouseout="this.src='assets/facebook2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Linkedin"><a href="#"><img class="icon" src="assets/instagram2.png" onmouseover="this.src= 'assets/instagram.png';" onmouseout="this.src='assets/instagram2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Redit"><a href="#"><img class="icon" src="assets/redit2.png" onmouseover="this.src= 'assets/redit.png';" onmouseout="this.src='assets/redit2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Copiar Url"><a href="#"><img class="icon" style="width: 25px; height: 25px; margin-top: 8px;" src="assets/share1.png" onmouseover="this.src= 'assets/share.png';" onmouseout="this.src='assets/share1.png';" alt=""></a></li>            
                 
            </div>
    
            <div class="col-sm-11">
                <div class="parrafos">
                    <p class="texto">
                        {{articulo.contenido}}
                    </p>
                    
                </div>
            </div>
    
        </div>
    
        <!-- <app-comentarios></app-comentarios> -->
    
      <app-keep-conversation></app-keep-conversation>
    </div>
</div>
    
    