<div class="container">
    
    <div class="text col-sm-10" >
        <div class="div">
            <div class="categorie">
                <a  routerLink="/finanzas" class="btn mb-4">Finanzas</a>
            </div>
            <h1 class="title">AI Still Can’t Understand Language, but There’s an Easy Way To Teach It To</h1>
            <div class="div row name">
                <div class="col-sm-12 col-md-12 col-lg-5"><img class="perfil" src="assets/autores/Maria1.png" alt=""> <a class="name" routerLink="/autor/nombre"> Maria Lorem Ipsum</a></div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/clock.svg" alt=""> 12 minutos</div>
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  Enero 08</div>
              </div>
        </div>
    
    
        <div class="img-principal">
            <img src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/c_fill,f_auto,q_auto,w_1688/https://success-cms.labs.livechatinc.com/app/uploads/2021/01/pexels-pixabay-267669.jpg" class="img-fluid" alt="">
        </div>
    
        <div class="row">
            <div id="redes" class="col-sm-1"> 
                    
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Twitter"><a href="#"><img class="icon" src="assets/twitter2.png" onmouseover="this.src= 'assets/twitter.png';" onmouseout="this.src='assets/twitter2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Facebook"><a href="#"><img class="icon" src="assets/facebook2.png" onmouseover="this.src= 'assets/facebook.png';" onmouseout="this.src='assets/facebook2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Linkedin"><a href="#"><img class="icon" src="assets/instagram2.png" onmouseover="this.src= 'assets/instagram.png';" onmouseout="this.src='assets/instagram2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Comparte en Redit"><a href="#"><img class="icon" src="assets/redit2.png" onmouseover="this.src= 'assets/redit.png';" onmouseout="this.src='assets/redit2.png';" alt=""></a></li>            
                    <li data-toggle="tooltip" data-placement="right" title="Copiar Url"><a href="#"><img class="icon" style="width: 25px; height: 25px; margin-top: 8px;" src="assets/share1.png" onmouseover="this.src= 'assets/share.png';" onmouseout="this.src='assets/share1.png';" alt=""></a></li>            
                 
            </div>
    
            <div class="col-sm-11">
                <div class="parrafos">
                    <p class="texto">
                        There’s been a lot of hype surrounding artificial intelligence (AI) and its ability to understand, process, and even write in human languages. Along with that hype has come the usual deluge of articles questioning the role, if any, humans will have in the future when it comes to writing, advertising, marketing, etc. While the context is new, the point is the same. It’s that, basically, computers are going to take over the world, and we’re all going to lose our jobs. 
                    </p>
                    <p class="texto">
                        Not so fast.
                    </p>
                    <p class="texto">
                        It now appears that even the AIs that seem to have some understanding of language and score better than humans on basic comprehension tests, actually don’t have a clue. In fact, when the words in some sentences were mixed up, the AIs didn’t notice or thought they meant the same thing. This was first reported by MIT Technology Review.
                    </p>
    
                    <p class="texto">
                        Adobe Research, along with researchers from Auburn University, noticed the bug when attempting to get a natural language processing system to explain its behavior. The researchers wanted to know why the NLP system often stated that two different sentences meant the same thing. They discovered that the AI’s explanation was the same even when the words in the sentences were moved around.
                    </p>
    
                    <p class="texto">
                        For example, “Does marijuana cause cancer?” and “Does cancer cause marijuana?” were recognized by the AI as the same question. On the plus side, the system was able to tell that “Does marijuana cause cancer?” and “How can smoking marijuana give you lung cancer?” were paraphrases. However, the systems were even more convinced that “You smoking cancer how marijuana lung can give?” and “Lung can give marijuana smoking how you cancer?” also had the same meaning.
                    </p>
    
                    <p class="texto">
                        As many as 90% of the systems tested provided the same explanation when the words in a sentence were moved around. Only when the systems were tasked with examining the grammatical structure of a sentence did the word order matter.
                    </p>
                    
                    <p class="texto">
                        The reason for this flaw is that the way conversational AI models are trained doesn’t take into account word order or context. They are typically trained to recognize key words no matter the order they come in. In short, they’re not able to understand language, and all the variables surrounding it, like humans can.
                    </p>
    
                    <p class="texto">
                        But it’s exactly that training that provides hope that they can be easily trained to understand language much better. The researchers determined that by training the systems to recognize that word order matters, like when looking for grammatical mistakes, the AIs were able to achieve better results in other tasks.
                    </p>
    
                    <p class="texto">
                        So, good news. It looks like our jobs are safe for at least a little while.
                    </p>
                </div>
            </div>
    
        </div>
    
        <!-- <app-comentarios></app-comentarios> -->
    
      <app-keep-conversation></app-keep-conversation>
    </div>
</div>
    
    