<div id="bottom" class="row mt-5">

  <div id="uno" class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let articulo of articulos ; let i = index;">
  <div *ngIf="i<=1">
    <a class="redirect" [routerLink]="['/post',articulo.id]">
    <div class="card mb-3">
      <div class="sobreponer">
          <img src="{{photoPost}}{{articulo.foto}}" class="card-img-top" alt="...">
      </div>
      <div class="tag">
          <a class="btn sobre">{{articulo.categoria}}</a>
        </div>
      <div class="card-body">
          <p class="card-text"><small class="text-muted">{{articulo.tiempo}} min lectura | {{articulo.fecha}} | {{articulo.autor}}</small></p>
                 
            <h5 class="card-title">{{articulo.titulo}}</h5>
          <p class="card-text">{{articulo.extracto}}... <span>continuar leyendo</span></p>
        
      </div>
    </div>
  </a>
</div>
  </div>
  <div id="dos" class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let articulo of articulos; let i = index;">
    <div *ngIf="i>1 && i<2">
    <a class="redirect" [routerLink]="['/post',articulo.id]">
      <div class="card mb-3">
          <div class="sobreponer">
              <img src="{{photoPost}}{{articulo.foto}}" class="card-img-top" alt="...">
          </div>
          <div class="tag">
              <a class="btn sobre">{{articulo.categoria}}</a>
          </div>
          <div class="card-body">
              <p class="card-text"><small class="text-muted">{{articulo.tiempo}} min lectura | {{articulo.fecha}} | {{articulo.autor}}</small></p>
             <h5 class="card-title">{{articulo.titulo}}</h5>
            <p class="card-text">{{articulo.extracto}}...  <span>continuar leyendo</span></p>
          </div>
      </div>
    </a>
  </div>
  </div>
   
</div>

