<div class="text">
    <div class="div">
    <h1 class="titulo">Emprender</h1>
    <p class="description-category">Una mente inquieta y creativa no conoce de límites, te contaremos de herramientas y soluciones integrales para convertir tu idea en un <em> “Negocio de vanguardia”.</em></p>
    </div>
</div>
<div id="principal" class="row">
  <div class="col col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <a routerLink="/post">
      <div class="card bg-dark text-white">
        <div class="imagen">
          <img src="https://librosostenibilidad.files.wordpress.com/2017/03/paisaje-cultura-sostenibilidad.jpg" class="card-img img-fluid" alt="...">
        </div>
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
            <h5 class="card-title">The Only Playbook You Need to Maintain High Customer Engagement</h5>
           
            <p class="name">
              <img class="perfil" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""> Jon Tucker  
              <img class="clock" src="https://www.livechat.com/success/icons/time-to-read.b19f23fb38fc3a0447471f0910ac51fc917cd65a8ed1f267ee7ff61be6a07f84.svg" alt=""> 12 minutes 
              <img class="clock" src="https://www.livechat.com/success/icons/calendar.svg" alt="">Oct 20, 2020
            </p>

          </div>
        </div>
      </a>
  </div>
</div>

<app-card-post></app-card-post>

<app-card-post></app-card-post>

<app-suscribe></app-suscribe> <!-- tarjeta que nos permitira suscribirnos y se encuentra en medio de los post de una categoria -->

<app-card-post></app-card-post>

<app-card-post></app-card-post>

<app-suscribe-two></app-suscribe-two>

<app-card-post></app-card-post>

<app-card-post></app-card-post>

<app-paginator></app-paginator>