<div class="team" style="background: white;">


    <div class="back mt-5">
        <p> <img class="volver" src="https://cdn0.iconfinder.com/data/icons/web-seo-and-advertising-media-1/512/218_Arrow_Arrows_Back-512.png" alt=""><a class="backto" routerLink="/autores">Ver todos los autores</a></p>
    </div>
    
    
    <div id="principal">
    <div class="row ">
        <div class="col-12 col-xs-12 col-sm-12 texto2 text-left">
            <div class="card" style="margin-right: -2rem;">
                <!-- <div class=""> -->
                  <div class="row no-gutters">      
                    <div class="col-md-6 col-xl-6">
                      <img class="perfil" src="assets/autores/Anette.png" alt="...">
                      <img class="perfil2" src="assets/autores/Anette-R.png" alt="...">
                    </div>
                <div class="col-md-6 col-xl-6 tarjeta">
                  <div class="card-body">
                    <div class="nombre-autor">
                      <h5 class="card-title nombre2">Anette</h5>
                      <p class="card-text descripcion">Experta en área jurídica</p>
                     <ul class="contenedor-redes">
                       <li><a href="https://www.instagram.com/annetteruvalcaba/" target="_blank" ><img class="redes" src="assets/autores/instagram-white.png" onmouseover="this.src= 'assets/autores/instagram-blue.png';" onmouseout="this.src='assets/autores/instagram-white.png';" alt=""></a></li> 
                         <!-- <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/facebook-white.png" onmouseover="this.src= 'assets/autores/facebook-blue.png';" onmouseout="this.src='assets/autores/facebook-white.png';" alt=""></a></li>-->
                        <li><a href="https://www.linkedin.com/in/annette-lorena-ruvalcaba-b%C3%A1rcenas-920aa0205/" target="_blank" ><img class="redes" src="assets/autores/linkedin-white.png" onmouseover="this.src= 'assets/autores/linkedin-blue.png';" onmouseout="this.src='assets/autores/linkedin-white.png';" alt=""></a></li>
                        <li><a href="https://twitter.com/AnnetteRuv" target="_blank" ><img class="redes" src="assets/autores/twitter-white.png" onmouseover="this.src= 'assets/autores/twitter-blue.png';" onmouseout="this.src='assets/autores/twitter-white.png';" alt=""></a></li>
                       <!--  <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/skype-white.png" onmouseover="this.src= 'assets/autores/skype-blue.png';" onmouseout="this.src='assets/autores/skype-white.png';" alt=""></a></li> -->
                      </ul>
    
                      <ul class="contenedor-redes2">
                         <li><a href="https://www.instagram.com/annetteruvalcaba/" target="_blank" ><img class="redes" src="assets/autores/instagram-black-t.png" onmouseover="this.src= 'assets/autores/instagram-black.png';" onmouseout="this.src='assets/autores/instagram-black-t.png';" alt=""></a></li> 
                        <!--<li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/facebook-black-t.png" onmouseover="this.src= 'assets/autores/facebook-black.png';" onmouseout="this.src='assets/autores/facebook-black-t.png';" alt=""></a></li>-->
                        <li><a href="https://www.linkedin.com/in/annette-lorena-ruvalcaba-b%C3%A1rcenas-920aa0205/" target="_blank" ><img class="redes" src="assets/autores/linkedin-black-t.png" onmouseover="this.src= 'assets/autores/linkedin-black.png';" onmouseout="this.src='assets/autores/linkedin-black-t.png';" alt=""></a></li>
                        <li><a href="https://twitter.com/AnnetteRuv" target="_blank" ><img class="redes" src="assets/autores/twitter-black-t.png" onmouseover="this.src= 'assets/autores/twitter-black.png';" onmouseout="this.src='assets/autores/twitter-black-t.png';" alt=""></a></li>
                        <!-- <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/skype-black-t.png" onmouseover="this.src= 'assets/autores/skype-black.png';" onmouseout="this.src='assets/autores/skype-black-t.png';" alt=""></a></li> -->
                      </ul>
    
    
                    </div> 
                  </div>            
                </div>
              </div>
    
        </div>
    </div>
    </div>
    
    <div class="row" style="padding-bottom:5rem ;">
        <div class="col-8 col-xs-12 col-sm-12 texto text-left">
            <h1 class="title">Acerca de mi</h1>
            <p class="parrafo">Hola soy Anette Ruvalcaba Oriunda de una península del país, específicamente de la paradisiaca ciudad de Cancún.</p> 
            <p class="parrafo">He tenido la oportunidad de convertirme en una experta en el área jurídica gracias a la reconocida Universidad Anáhuac y a la satisfactoria experiencia de trabajar codo a codo con varios de los mejores abogados de la zona.</p> 
            <p class="parrafo">Trabajo de la mano con las mujeres empresarias más importantes del sur del país que hoy conforman una de las asociaciones empresariales de mayor fuerza a nivel nacional he aprendido varios tips que estoy deseosa de transmitir.</p> 
            <p class="parrafo">Activista en mis tiempos libres y estudiante eterna de temas jurídicos, financieros y políticos me defino como una mujer orgullosamente millennial con todo lo bueno que eso encuadra.</p> 

            <p class="title">Frase favorita</p>
            <p class="parrafo">“Trabajemos con nuestras realidades.” - Mtra. Carmen Urías</p>
               
            
         
        </div>
    </div>
    </div>
    
    </div>
    
    <div class="team" style="background:#f6f6f7;" >
        <!-- esta es parte de mis articulos -->
        <app-autores-post></app-autores-post>
        <!-- esta es parte del equipo editorial -->
        <!-- <app-autor></app-autor> -->
        </div>
           