.search{
    margin-bottom: 30px;   
   
}


#box{
    background: #ffffff;
    height: 45px;
    font-display: flex;
    align-items: center;
    border: solid 1px #cccccc;
    max-width:34rem ;  
    border-radius: 0.225rem; 
    
    
}

#box > input{
    flex: 1;
    height: 100%;
    padding-left: 3rem;
    border: none;
    border-radius: 0.225rem; 
}
#Capa_1 {
    fill: #000;
}


svg{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 18px;
    height: 18px;
    position: absolute;
}

