.tarjeta{
    margin-bottom: 3rem;
   
}


 
 .card-title{
     line-height: 1.2;
     letter-spacing: -.02em;     
     font-weight: 700;
     margin-bottom: 1rem;
     margin-right: 1rem;
 }

 .card-text{
    font-size: 1.125rem;
    color: black;
    margin-right: 1.5rem;
 }

 .card{
     border-radius: 8px;
     /* min-height: 400px; *//*aqui dejalo en min si no se descagala la tarjeta*/
     border: none;   
     box-shadow: 0 2px 2px rgba(0,0,0,0);      
     transform-origin: 0 0;
     transition: transform .25s, visibility .25s ease-in;
     overflow: hidden;
    
 }

 
 
 .card:hover{
     box-shadow: 3px 23px 57px 16px rgba(0,0,0,0.2);
     /*zoom a imagen*/
    /*  transform: scale(1.01); */
     
 } 

 .card:hover .img-fluid{   
    
    transform: scale(1.1); 
}

 .imagen{
     height: 100%;
     width: auto; 
     overflow: hidden;  
 }

 .imagen img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;    
    border-bottom-left-radius:8px ;
    transition: 0.3s all ease-in-out; 
}

/*Esto es para que no se distorcione la imagen*/

@supports(object-fit: cover){
    .imagen img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.texto{
    /* padding: 3rem; */
    margin-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 2rem;
    
}

.imagenes{
    /* position: absolute;
    bottom: 0; */
   /*  position: relative; */
    bottom: -3rem;
}

@media(max-width:1499px){
    .imagenes{
        /* position: absolute;
        bottom: 0; */
        position: relative;
        bottom: -.5rem;
    }
}

span{
    font-weight: bold;
    color: #24f;
}


  a{
     text-decoration: none;
      color: black;
  }

  .clock{
    width: 24px;
    height: 24px;

    /* margin-right: 0.125rem;
    margin-left: 1rem; */
}

.perfil{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: .225rem;
}

.name{
    font-weight: 400;
    font-size: 0.875rem;
    color: #909099;
}



@media screen and (min-width: 36rem){
    .card-title{
        font-size: calc(1rem + 0.47239*(100vw - 36rem)/39);
        
    }
    
    }

    @media(max-width:600px){
        .imagen{
            height: auto;
        }

        
 .imagen img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;    
    border-bottom-left-radius:0px ;
    transition: 0.3s all ease-in-out; 
}
    }

