#wrapper{
    padding-bottom: 6rem;
   /*  width: 120%; */
    /* overflow-x: hidden; */
    /* align-items: center; */
    margin-right: 1.5rem;
}


#componentes{
    max-width: 90%;
    justify-content: center;
    margin-left: 10%;
}

.row{
    text-align: center;
}

.contenedor{
    margin: 0px auto;
    text-align: center;
}

@media(max-width:600px) {

    #wrapper{
        padding-bottom: 6rem;
       /*  width: 120%; */
        overflow-x: hidden;
        /* align-items: center; */
        /* margin-right: 1.5rem; */
    }


    #componentes{
        max-width: 100%;
        margin-left: 0%;
    }
}

@media (min-width: 859px) {
    .boton-oculto {
        display: none;
        
        
    }
  }

  @media(min-width:1750px){
    #componentes{
        max-width: 100%;
        margin-left: 0%;
    }
 }


.boton-oculto{
    margin-left: 0px;
    
  }