
<div id="wrapper" >
    <div class="row">

      <div class="boton-oculto col-12">
        <app-mininav (search)="handleSearch($event)"></app-mininav>
        <div class="text-center">
          <div class="card" style="margin: 0 auto; width: 90%; z-index: 100; background: none; border: none; padding-bottom: 2rem;">
          <div *ngFor="let articulo of articulos | filtro:filtroValor">
            
            <a [routerLink]="['/post', articulo.id]">
             <div class="card mb-3" style="width: 100%; height: auto;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img style="width: 100%; height: 100%; object-fit: cover;" src="{{photoPost}}{{articulo.foto}}" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ articulo.titulo }}</h5>
                    <p class="card-text"><small class="text-muted">{{articulo.extracto}}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
          </div>
        </div>
      </div> 
      

      <div class="col col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2">
        <app-sidenav style="text-align: start;"></app-sidenav>
      </div>
      <!-- <div class="col-8">
            <router-outlet></router-outlet>
        </div>   -->
  
      <div id="componentes" class="col-lg-12 col-md-12 col-sm-12">
        <!-- es la pagina principal de blog -->
        <div class="row">
         <div class="contenedor container-fluid" style="overflow-x: hidden;">
             <router-outlet></router-outlet>
         </div>
         <app-modal></app-modal>
        </div>
  
        <!-- inicia el footer -->
        <!--  <div class="container-fluid">
              <app-footer></app-footer>
            </div> -->
      </div>
    </div>


  </div>
  