
.volver{
    height: 20px;
    width: 20px;
    margin-right: 5px;    
}
.back{
    text-align: start;
    margin-left: 10%;
}

.backto{
    color: black;
    font-weight: 700;
}


.team{
    margin-top: -3rem;
    text-align: center;
    padding-top: 3rem;
}

#principal{
    margin-top: 4rem;    
    padding: 0rem;
    padding-bottom: 0;
    text-align: center;    
}
