<div class="team" style="background: white;">

<div class="back mt-5">
    <p> <img class="volver" src="https://cdn0.iconfinder.com/data/icons/web-seo-and-advertising-media-1/512/218_Arrow_Arrows_Back-512.png" alt=""><a class="backto" routerLink="/autores">Ver todos los autores</a></p>
</div>


<div id="principal" >
  

<app-autores-about></app-autores-about>

</div>
</div>
<div class="team" style="background:#f6f6f7;" >
<!-- esta es parte de mis articulos -->
<app-autores-post></app-autores-post>
<!-- esta es parte del equipo editorial -->
<!-- <app-autor></app-autor> -->
</div>
   

