<div class="team" style="background: white;">

<div class="back mt-5">
    <p> <img class="volver" src="https://cdn0.iconfinder.com/data/icons/web-seo-and-advertising-media-1/512/218_Arrow_Arrows_Back-512.png" alt=""><a class="backto" routerLink="/autores">Back to authors</a></p>
</div>


<div id="principal" class="row">
  <div class="card col-md-12 mb-3" >
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="https://res.cloudinary.com/dn1j6dpd7/image/fetch/f_auto,q_auto,w_552,h_623,c_fit/https://success-cms.labs.livechatinc.com/app/uploads/2020/05/marcos-bravo-big.png" alt="...">
      </div>
      <div class="col-md-6 tarjeta">
        <div class="card-body">
          <div class="nombre-autor">
          <h5 class="card-title nombre2">Marcos Bravo</h5>
          <p class="card-text descripcion">Video Creator, Host, and Marketing Veteran, Success, Writter</p>
          <ul class="">
            <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-logotipo-del-icono-de-facebook-by-vexels.png" alt=""></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank" ><img class="redes" src="https://cdn.iconscout.com/icon/free/png-512/linkedin-42-151143.png" alt=""></a></li>            
            
          </ul>
        </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<app-autores-about></app-autores-about>

</div>

<div class="team" >
<!-- esta es parte de mis articulos -->
<app-autores-post></app-autores-post>
<!-- esta es parte del equipo editorial -->
<app-autor></app-autor>
</div>
   

