<div class="text">
    <div class="div">
    <h1 class="titulo">Mercados</h1>
    <p class="description-category">Información amigable al alcance de todas las generaciones. Desde Baby Boomers hasta Generación Z. ¿Objetivo? Optimizar tu tiempo e <em>invertirlo </em> de la mejor manera. </p>
    </div>
</div>
<div id="principal" class="row">
  <div class="col col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <a routerLink="/post">
      <div class="card text-white">
        <div class="imagen">
          <img src="https://librosostenibilidad.files.wordpress.com/2017/03/paisaje-cultura-sostenibilidad.jpg" class="card-img img-fluid" alt="...">
        </div>
        <div id="element-over" class="card-img-overlay h-100 d-flex flex-column justify-content-end">
            <h5 class="card-title">The Only Playbook You Need to Maintain High Customer Engagement</h5>
           
            <div class="row name">
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4"><img class="perfil" src="assets/autores/Maria1.png" alt=""> Maria Lorem Ipsum</div>
              <div class="col col-sm-6 col-md-6 col-lg-2 col-xl-2 mt-3"><img class="clock" src="assets/clock.svg" alt=""> 12 minutos</div>
              <div class="col col-sm-6 col-md-6 col-lg-2 col-xl-2 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  Enero 08</div>
            </div>

          </div>
        </div>
      </a>
  </div>
</div>

<app-card-post></app-card-post>

<app-card-post></app-card-post>

<app-suscribe></app-suscribe> <!-- tarjeta que nos permitira suscribirnos y se encuentra en medio de los post de una categoria -->

<app-card-post></app-card-post>

<app-card-post></app-card-post>

<app-suscribe-two></app-suscribe-two>

<app-card-post></app-card-post>

<app-card-post></app-card-post>

<app-paginator></app-paginator>