<div *ngFor="let articulo of articulos | slice: 0:10; let i = index">
  <a routerLink="/post">
    <div class="card mb-5">
      <div class="imagen sobreponer">
        <img
          src="{{photoPost}}{{ articulo.foto }}"
          class="card-img-top img-fluid"
          alt="..."
        />
      </div>
      <div class="tag">
        <a class="btn sobre">{{ articulo.categoria }}</a>
      </div>
      <div class="card-body">
        <p class="card-text">
          <small class="text-muted"
            >{{ articulo.tiempo }} tiempo lectura |
            {{ articulo.fecha }} |</small
          >
        </p>
        <p class="name">
          <img
            class="perfil img-fluid"
            src="{{photoAutor}}{{ articulo.perfil }}"
            alt=""
          />{{ articulo.autor }}
        </p>

        <h5 class="card-title">{{ articulo.titulo }}</h5>
        <p class="card-text">
          {{ articulo.extracto }}... <span>continuar leyendo</span>
        </p>
      </div>
    </div>
  </a>
</div>
