/* You can add global styles to this file, and also import other style files */
body{
    background: #f6f6f7;
    margin-left: 1rem;
    color: #1b1b20;
    overflow-x: hidden;
}

app-root{
    overflow-x: hidden;
}


::selection{
    background: #004fff;
    color: #fff;
}


@media (max-width: 859px) {
    app-search {
         display: none;      
    }
  }
  