<div id="principal" class="row">
    <div class="col col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a routerLink="/post">
        <div class="card text-white">
          <div class="imagen">
            <img src="https://librosostenibilidad.files.wordpress.com/2017/03/paisaje-cultura-sostenibilidad.jpg" class="card-img img-fluid" alt="...">
          </div>
            <div id="element-over" class="card-img-overlay h-100 d-flex flex-column justify-content-end">
            <div class="sobreponer">
              <a class="btn sobre">Finanzas</a>
              <h5 class="card-title">The Only Playbook You Need to Maintain High Customer Engagement</h5>
            </div>
              <p class="card-text">
                <img class="perfil" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt=""> Axin Capital
                <img class="clock" src="assets/clock.svg" alt=""> 12 minutos
                <img class="clock" src="assets/calendar.svg" alt="">  Enero 08</p>
            </div>
          </div>
        </a>
    </div>
</div>

<!-- tarjetas know y articulos recientes -->
<div class="row mb-5">
      <div id="row" class="col-sm">
          <h2 class="title">Inversión</h2>
        <div class="know"><!-- el estilo del sticky empieza aqui y termina en el componente izquierda -->
            <app-izquierda></app-izquierda>
        </div>
      </div>

      <!-- articulos recientes -->
      <div class="col-sm">
          <h2 class="title">Articulos recientes</h2>      
 
        <app-derecha></app-derecha>
      </div>      
</div>





