<div id="principal" class="row">
    <div class="col-12 col-xs-6 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngFor="let articulo of articulos; let i = index;  last as isLast">
        <a [routerLink]="['/post', articulo.id]">
        <div *ngIf="isLast" class="card text-white">
          <div class="imagen">
            <img src="{{photoPost}}{{articulo.foto}}" class="card-img img-fluid" alt="...">
          </div>
            <div id="element-over" class="card-img-overlay h-100 d-flex flex-column justify-content-end">
            <div class="sobreponer " >
              <a class="btn sobre">{{articulo.categoria}}</a>
              <h5 class="card-title">{{articulo.titulo}} </h5>
            
              <div class="div row">
                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3"><img class="perfil" src="{{photoAutor}}{{articulo.perfil}}" alt=""> {{articulo.autor}}</div>
                <div class="col col-sm-6 col-md-6 col-lg-2 col-xl-2 mt-3"><img class="clock" src="assets/clock.svg" alt="">{{articulo.tiempo}} minutos</div>
                <div class="col col-sm-6 col-md-6 col-lg-2 col-xl-4 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  {{articulo.fecha}}</div>
              </div>
                
                
              
            </div>
            </div>
          </div>
        </a>
    </div>
</div>

<!-- tarjetas know y articulos recientes -->
<div class="row mb-5">
      <div id="row" class="col-sm">
          <h2 class="title">Inversión</h2>
        <div class="know"><!-- el estilo del sticky empieza aqui y termina en el componente izquierda -->
            <app-izquierda></app-izquierda>
        </div>
      </div>

      <!-- articulos recientes -->
      <div class="col-sm">
          <h2 class="title">Articulos recientes</h2>      
 
        <app-derecha></app-derecha>
      </div>      
</div>





