.know{
    height: 100%;
    padding-bottom: 6rem;
}

.categoria{
    text-transform: capitalize;
}

.title{
    font-size: calc(1.29375rem + 0.19125*(100vw - 36rem)/39);
    font-weight: 700;
    margin-bottom: 1rem;
}

.tit-b{
    
    font-size: calc(1.71098rem + 0.87648*(100vw - 40rem)/50);
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: 1.2;
    margin-top: 8rem;
}

#principal{
    margin-bottom: 4rem;
}


.principal, img{
   
    /*  background-image: url('https://lh3.googleusercontent.com/pXMNJMBO3ONO3C8CHhq9hl5NXGhzli8TobpH2EdWR9bGd-CMGPhxSfZh9_wOLalC7ZtrOJDIOikE5-hEPCs42RN7=w640-h400-e365-rj-sc0x00ffffff');
      */
     max-height: 400px;
     
     background-repeat: no-repeat;
     
 }

 #element-over{
     padding: 2rem 4rem;
     background-color: rgba(0,0,0,0.2);
 }


.perfil{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 0.250rem;
}

.card-title{
    line-height: 1.2;
    letter-spacing: -.03em;
    font-size: calc(1em + 1.5vw)!important;
    font-weight: bold;
    margin-top: 1rem;
    width: 90%;
}



.card{
    border: none;   
    box-shadow: 0 2px 2px rgba(0,0,0,0.3); 
    border-radius: 8px;
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
    overflow: hidden;/*se debe poner hidden en la tarjeta para que la imagen no se sobresalga*/
}

.card-img{
    border-radius: 8px;
    border: none;
    object-fit: cover;
}
/*Aqui inicia el zoom de las tarjetas*/
.card:hover{
    box-shadow: 3px 23px 57px 16px rgba(0,0,0,0.2);
   
}

.card:hover .card-img{
    
    overflow: hidden;
    transform: scale(1.1); 
}


.imagen img{
    
    transition: 0.5s all ease-in-out; 
}

.sobreponer{
    position: absolute;
    padding-right: 2rem;
    width: 100%;
    
}

.sobre{
    padding-left: 0.225rem;
    padding-right: 0.225rem;
    padding-bottom: 0;
    padding-top:0px;
    position: relative;
    margin-bottom: 1rem;
    
    text-transform: capitalize;
    bottom: 0px;
    border: none;
    background: #f6f6f7;
    font-size: 0.8rem;
}
.clock{
    width: 24px;
    height: 24px;
    margin-right: 5px;
   
}

.justify-content-en {
    justify-content: flex-end!important;
}

@media(max-width:600px){

    #element-over{
        padding: 1rem 2rem;
    }
   .sobre{
       bottom: 0;
       position: relative;
   }

   .card , .card-img{
    min-height: 330px;
   }

   .perfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.250rem;
}
   .clock{
    width: 20px;
    height: 20px;
    
}

.card-title{
    font-size: calc(1.5em + 1vw)!important;
    font-weight: 700;
}

.sobreponer{
    padding-bottom: 2rem;
}


}

@media (max-width: 859px) {
    #principal{
         margin-top: 5rem;   
    }
 }