<div class="team" style="background: white;">


    <div class="back mt-5">
        <p> <img class="volver" src="https://cdn0.iconfinder.com/data/icons/web-seo-and-advertising-media-1/512/218_Arrow_Arrows_Back-512.png" alt=""><a class="backto" routerLink="/autores">Ver todos los autores</a></p>
    </div>
    
    
    <div id="principal">
    <div class="row ">
        <div class="col-12 col-xs-12 col-sm-12 texto2 text-left">
            <div class="card" style="margin-right: -2rem;">
                <!-- <div class=""> -->
                  <div class="row no-gutters">      
                    <div class="col-md-6 col-xl-6">
                      <img class="perfil" src="assets/autores/Mario.png" alt="...">
                      <img class="perfil2" src="assets/autores/Mario-R.png" alt="...">
                    </div>
                <div class="col-md-6 col-xl-6 tarjeta">
                  <div class="card-body">
                    <div class="nombre-autor">
                      <h5 class="card-title nombre2">Mario Calixto</h5>
                      <p class="card-text descripcion">Economista</p>
                      <ul class="contenedor-redes">
                        <!-- <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/instagram-white.png" onmouseover="this.src= 'assets/autores/instagram-blue.png';" onmouseout="this.src='assets/autores/instagram-white.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/facebook-white.png" onmouseover="this.src= 'assets/autores/facebook-blue.png';" onmouseout="this.src='assets/autores/facebook-white.png';" alt=""></a></li>-->
                        <li><a href="https://www.linkedin.com/in/mario-calixto-7550145b/" target="_blank" ><img class="redes" src="assets/autores/linkedin-white.png" onmouseover="this.src= 'assets/autores/linkedin-blue.png';" onmouseout="this.src='assets/autores/linkedin-white.png';" alt=""></a></li> 
                        <li><a href="https://twitter.com/MCalixtoM" target="_blank" ><img class="redes" src="assets/autores/twitter-white.png" onmouseover="this.src= 'assets/autores/twitter-blue.png';" onmouseout="this.src='assets/autores/twitter-white.png';" alt=""></a></li>
                        <!-- <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/skype-white.png" onmouseover="this.src= 'assets/autores/skype-blue.png';" onmouseout="this.src='assets/autores/skype-white.png';" alt=""></a></li> -->
                      </ul>
    
                      <ul class="contenedor-redes2">
                        <!-- <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/instagram-black-t.png" onmouseover="this.src= 'assets/autores/instagram-black.png';" onmouseout="this.src='assets/autores/instagram-black-t.png';" alt=""></a></li>
                        <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/facebook-black-t.png" onmouseover="this.src= 'assets/autores/facebook-black.png';" onmouseout="this.src='assets/autores/facebook-black-t.png';" alt=""></a></li> -->
                        <li><a href="https://www.linkedin.com/in/mario-calixto-7550145b/" target="_blank" ><img class="redes" src="assets/autores/linkedin-black-t.png" onmouseover="this.src= 'assets/autores/linkedin-black.png';" onmouseout="this.src='assets/autores/linkedin-black-t.png';" alt=""></a></li>
                        <li><a href="https://twitter.com/MCalixtoM" target="_blank" ><img class="redes" src="assets/autores/twitter-black-t.png" onmouseover="this.src= 'assets/autores/twitter-black.png';" onmouseout="this.src='assets/autores/twitter-black-t.png';" alt=""></a></li>
                        <!-- <li><a href="https://facebook.com/" target="_blank" ><img class="redes" src="assets/autores/skype-black-t.png" onmouseover="this.src= 'assets/autores/skype-black.png';" onmouseout="this.src='assets/autores/skype-black-t.png';" alt=""></a></li> -->
                      </ul>
     
    
                    </div> 
                  </div>            
                </div>
              </div>
    
        </div>
    </div>
    </div>
    
    <div class="row" style="padding-bottom:5rem ;">
        <div class="col-11 col-xs-12 col-sm-12 texto text-left">
            <h1 class="title">Acerca de mi</h1>
            <p class="parrafo">Estudié Ciencia Política en la Universidad de las Américas Puebla. Llegué al periodismo en 2011 y desde 2012 estoy centrado en temas económicos y financieros. He tenido la oportunidad de trabajar y colaborar en medios como El Economista, Expansión, GatoPardo, Alto Nivel y, desde hace dos años, en ElCeo.com. </p>
            
            <h1 class="title">Frase favorita</h1>
            <p class="parrafo">“La regla número 1 es no perder nunca dinero y la segunda, no olvidar la regla número 1", de Warren Buffett</p>
    
            
            <h1 class="title">Forma de aprender</h1>
            <p class="parrafo">Autodidacta.</p>
    
        </div>
    </div>
    </div>
    
    </div>
    
    <div class="team" style="background:#f6f6f7;" >
        <!-- esta es parte de mis articulos -->
        <app-autores-post></app-autores-post>
        <!-- esta es parte del equipo editorial -->
        <!-- <app-autor></app-autor> -->
        </div>
           