
   <div class="redes text-center">
    <ul>
      <li><a class="red" target="_blank" href="https://www.facebook.com/axincapital/"><img src="assets/facebook2.png" onmouseover="this.src= 'assets/facebook.png';" onmouseout="this.src='assets/facebook2.png';" alt=""></a></li>
      <li><a class="red" target="_blank" href="https://www.instagram.com/axincapital/"><img src="assets/instagram2.png" onmouseover="this.src= 'assets/instagram.png';" onmouseout="this.src='assets/instagram2.png';" alt=""></a></li>
      <li><a class="red" target="_blank" href="https://twitter.com/axincapital"><img src="assets/twitter2.png" onmouseover="this.src= 'assets/twitter.png';" onmouseout="this.src='assets/twitter2.png';" alt=""></a></li>
      <li><a class="red" target="_blank" href="https://www.linkedin.com/company/axincapital/"><img src="assets/linkedin2.png" onmouseover="this.src= 'assets/linkedin.png';" onmouseout="this.src='assets/linkedin2.png';" alt=""></a></li>
      <li><a class="red" target="_blank" href="https://facebook.com/"><img src="assets/youtube2.png" onmouseover="this.src= 'assets/youtube.png';" onmouseout="this.src='assets/youtube2.png';" alt=""></a></li>
      
    </ul>
  </div>