<div class="text">
    <div class="suscribe row ">
    <div class="div col-sm-5 ">
    <h1 class="titulo">Únete a la comunidad</h1>
    <p class="description-category">Recibe cada semana artículos, videos y guías para tomar mejores deciciones.</p>
        </div>

    <div class="col-sm-2 ">
        <img src="assets/email-icon.png" alt="">
    </div>

    <div class="div col-sm-5 ">
        <form class="form-group campos">
            <div class="input-group">
                
            <input style="border-radius: 1rem;" class="form-control" placeholder="Correo electrónico"  ngModel name="nombre">
                
            <button type="submit"class="btn " type="submit">Suscribete</button>
            </div>
        </form>
    </div>
</div>
</div>