<div id="wrapper" style="padding-bottom: 3rem; ">
    <div class="row" style="background: #fff" >
      
      <div class="boton-oculto col-12">
        <app-mininav (search)="handleSearch($event)"></app-mininav>
        
      </div> 
  
      <div class="col col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2">
        <app-sidenav></app-sidenav>
      </div>
      <!-- <div class="col-8">
            <router-outlet></router-outlet>
        </div>   -->
  
      <div id="componentes" class="col-lg-10 col-md-11 col-sm-12 ">
        <!-- es la pagina principal de blog -->
        <div class="row mt-auto">
          <div class="col-12">
            <div class="row">
              <!-- inicia el boton que se oculta -->
  
              <div class="col-12">
                <!-- <div class="boton-oculto">
                    <input class="btn btn-primary" onclick="toggleSidebar()" type="button"><span class="navbar-toggler-icon"></span>
                </div> -->
                <div id="conten" class="container">
                  <div class="row">
                    <div class="col-12">
                      <!-- incia parte del buscador -->
                      <div class="row">
                        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 mt-4">
                          <app-search (search)="handleSearch($event)"></app-search>
                            <div class="card" style="width: 100%; z-index: 100; background: none; border: none;">
                            <div *ngFor="let articulo of articulos | filtro:filtroValor">
                              
                              <a [routerLink]="['/post', articulo.id]">
                              <div class="card mb-3" style="width: 100%; height: auto;">
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img style="width: 100%; height: 100%; object-fit: cover;" src="{{photoPost}}{{articulo.foto}}" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ articulo.titulo }}</h5>
                                      <p class="card-text"><small class="text-muted">{{articulo.extracto}}</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                          </div>
                        </div>
  
                        <!-- termina buscador -->
  
                        <div class="col-12">
                          <router-outlet></router-outlet>
                        </div>
  
                        <app-modal></app-modal>
                        
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- inicia el footer -->
        <!--  <div class="container-fluid">
              <app-footer></app-footer>
            </div> -->
      </div>
    </div>

    <div class="row"  >
      
        
    
        <div class="col col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2">
          <!-- no borrar esta parte -->
        </div>
        <!-- <div class="col-8">
              <router-outlet></router-outlet>
          </div>   -->
    
        <div id="componentes" class="col-lg-10 col-md-11 col-sm-12 ">
          <!-- es la pagina principal de blog -->
          <div class="row mt-auto">
            <div class="col-12 ml-1">
              <div class="row">
                <!-- inicia el boton que se oculta -->
    
                <div class="col-12">
                
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <!-- incia parte del buscador -->
                        <div class="row">
                         <div class="col-12">
                           <app-related-article></app-related-article>

                           <app-subscribe></app-subscribe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- inicia el footer -->
          <!--  <div class="container-fluid">
                <app-footer></app-footer>
              </div> -->
        </div>
      </div>


    
  </div>
  