<div class="text">
    <div class="div">
    <h1 class="titulo">Finanzas</h1>
    <p class="description-category">Información relevante para lanzarte rápidamente a planificar tu relación con el <em>dinero</em>.</p>
    </div>
</div>
<div id="principal" class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"  *ngFor="let articulo of articulos; let i = index; last as isLast" >
      <div *ngIf="isLast">
    <a [routerLink]="['/post', articulo.id]">
      <div class="card text-white">
        <div class="imagen">
          <img src="{{photoPost}}{{articulo.foto}}" class="card-img img-fluid" alt="...">
        </div>
        <div id="element-over" class="card-img-overlay h-100 d-flex flex-column justify-content-end">
            <h5 class="card-title">{{articulo.titulo}}</h5>
           
            <div class="row name">
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4"><img class="perfil" src="{{photoAutor}}{{articulo.perfil}}" alt=""> {{articulo.autor}}</div>
              <div class="col col-sm-6 col-md-6 col-lg-2 col-xl-2 mt-3"><img class="clock" src="assets/clock.svg" alt=""> {{articulo.tiempo}} minutos</div>
              <div class="col col-sm-6 col-md-6 col-lg-2 col-xl-4 mt-3"><img class="clock" src="assets/calendar.svg" alt="">  {{articulo.fecha}}</div>
            </div>

          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-card-post></app-card-post>





