<div class="row">
  <!-- inicia el boton que se oculta -->
  <div class="boton-oculto col-12">
    <app-mininav></app-mininav>
  </div>

  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- incia parte del buscador -->
          <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 mt-4 search-oculto">
              <app-search (search)="handleSearch($event)"></app-search>
             <div class="card" style="width: 100%; z-index: 100; background: none; border: none; padding-bottom: 2rem;">
            <div *ngFor="let articulo of articulos | filtro:filtroValor">
              
              <a [routerLink]="['/post', articulo.id]">
               <div class="card mb-3" style="width: 100%; height: auto;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img style="width: 100%; height: 100%; object-fit: cover;" src="{{photoPost}}{{articulo.foto}}" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ articulo.titulo }}</h5>
                      <p class="card-text"><small class="text-muted">{{articulo.extracto}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          </div>


            </div>

            <!-- termina buscador -->

            <div class="col-12">
              <app-minipost></app-minipost>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
