<div class="row">
  <!-- inicia el boton que se oculta -->
  <div class="boton-oculto col-12">
    <app-mininav></app-mininav>
  </div>

  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- incia parte del buscador -->
          <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 mt-4 search-oculto">
              <app-search></app-search>
            </div>

            <!-- termina buscador -->

            <div class="col-12">
              <app-minipost></app-minipost>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
