
 
  
 <div class="container text-center">
  <ul class="pagination ">
    <li><a class="inicio" routerLink="#"><img src="https://img.icons8.com/fluent-systems-regular/48/000000/less-than.png"/> Anterior</a></li>
    <li><a class="active" routerLink="#">1</a></li>
    <li><a class="" routerLink="#">2</a></li>
    <li><a routerLink="#">3</a></li>
  
    <!-- <li><a routerLink="#">5</a></li>
    <li><a routerLink="#">6</a></li>
    <li><a routerLink="#">7</a></li> -->
    <li><a class="final" href="#">Siguiente <img class="rotar" src="https://img.icons8.com/fluent-systems-regular/48/000000/less-than.png"/></a></li>
  </ul>

</div>